/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/[category]/[product]/product.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.product_main__ez__r {
  margin: 0 auto;
  max-width: 1340px;
  width: 100%;
  display: flex;
  padding-top: 50px;
  height: 610px;
  justify-content: space-between;
}

.product_left__side__aqXnR {
  width: 782px;
  height: 100%;
  background-color: var(--light);
  border-radius: 10px;
}

.product_right__side__OiWrm {
  display: flex;
  width: 538px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.product_title__cHJcc {
  height: 290px;
  width: 100%;
  background-color: var(--light);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_description__2_mL7 {
  height: 250px;
  width: 100%;
  background-color: var(--light);
  border-radius: 10px;
  padding: 30px;
}

.product_seller__yT3E_ {
  margin-top: 10px;
  color: var(--accent);
  cursor: pointer;
}

.product_price___k5_m {
  font-size: 26px;
  font-weight: 500;
}

.product_title__bottom__LBeio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product_buttons__fYHhN {
  display: flex;
  gap: 20px;
}

.product_add__button__K3WXs {
  background-color: var(--accent);
  width: 170px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  color: var(--light);
  border-radius: 5px;
}

.product_fav__button__km8p1 {
  background: none;
  border: 2px solid var(--accent);
  width: 170px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  color: var(--accent);
  border-radius: 5px;
}

.product_id__9gvyg {
  color: var(--grey);
}

.product_description__text__yRwd3 {
  color: var(--grey);
  margin-top: 10px;
}
